<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('header', {tituloweb: '¡Oh my dog! | Registrar Trabajador'}); %>
</head>

<body id="body">
  <div class="container h-100 mt-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-8">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5 p-lg-5">
            <div class="row justify-content-center">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 ">Registrar Trabajador</p>

              <div class="col-md-10 col-lg-5 col-xl-6 order-2 order-lg-1">

                <form id="myForm" action="/registrar_trabajador" method="POST">
                  <div class="row mb-3">
                    

                    <label for="monto">Nombre y Apellido (*)</label>
                    <div class="mb-3">
                      <input class="form-control form-control-user" name="nombre" type="text" id="nombre"
                        placeholder="Ingrese nombre y apellido del trabajador" required=" ">
                    </div>

                    <label for="monto">Email (*)</label>
                    <div class="mb-3">
                      <input class="form-control form-control-user" name="email" type= "email" id="email"
                        placeholder="Ingrese el email del trabajador" required=" ">
                    </div>

                    <label for="servicio">Tipo de servicio (*)</label>
                    <div class="mb-3">
                      <select class="form-control form-control-user" name="servicio" id="servicio">
                        <option value="" disabled selected>Selecciona un servicio</option>
                        <option value="paseador">Paseador, Cuidador</option>
                        <option value="guarderia">Guardería</option>
                      </select>
                    </div>

                    <label for="zona">Zona (*)</label>
                    <div class="mb-3">
                      <select class="form-control form-control-user" name="zona" id="zona" required>
                        <option value="" disabled selected>Selecciona una zona</option>
                        <option value="Plaza Moreno">Plaza Moreno</option>
                        <option value="Plaza San Martín">Plaza San Martín</option>
                        <option value="Plaza Belgrano">Plaza Belgrano</option>
                        <option value="Plaza Azcuénaga">Plaza Azcuénaga</option>
                        <option value="Plaza Islas Malvinas">Plaza Islas Malvinas</option>
                        <option value="Plaza Italia">Plaza Italia</option>
                        <option value="Plaza Rocha">Plaza Rocha</option>
                        <option value="Plaza Paso">Plaza Paso</option>
                        <option value="Plaza Sarmiento">Plaza Sarmiento</option>
                        <option value="Plaza Almirante Brown">Plaza Almirante Brown</option>
                        <option value="Plaza España">Plaza España</option>
                        <option value="Plaza Güemes">Plaza Güemes</option>
                        <option value="Plaza Mateu">Plaza Mateu</option>
                        <option value="Plaza Grigera">Plaza Grigera</option>
                        <option value="Plaza Malvinas Argentinas">Plaza Malvinas Argentinas</option>
                        <option value="Plaza Güemes Este">Plaza Güemes Este</option>
                      </select>
                    </div>

                    <label for="servicio">Dias disponibles (*)</label>
                    <div class="mb-3">
                      <input type="checkbox" name="dia" id="domingo" value="domingo">
                      <label for="domingo">Domingo</label>
                      <br>
                      <input type="checkbox" name="dia" id="lunes" value="lunes">
                      <label for="lunes">Lunes</label>
                      <br>
                      <input type="checkbox" name="dia" id="martes" value="martes">
                      <label for="martes">Martes</label>
                      <br>
                      <input type="checkbox" name="dia" id="miercoles" value="miercoles">
                      <label for="miercoles">Miercoles</label>
                      <br>
                      <input type="checkbox" name="dia" id="jueves" value="jueves">
                      <label for="jueves">Jueves</label>
                      <br>
                      <input type="checkbox" name="dia" id="viernes" value="viernes">
                      <label for="viernes">Viernes</label>
                      <br>
                      <input type="checkbox" name="dia" id="sabado" value="sabado">
                      <label for="sabado">Sabado</label>
                      <br>
                    </div>

                    <label for="monto">Rango de Horario Disponible (*)</label>
                    <div class="mb-3">
                      <input class="form-control form-control-user" type="text" id="hora-inicio" value="08:00" required=" ">
                      <input class="form-control form-control-user" type="text" id="hora-fin" value="18:00" required=" ">
                    </div>

                    <div class="text-center mb-2" style="font-size: smaller;">Los campos con (*) son obligatorios</div>

                    <div id="mensaje"></div>
                    
                  </div>

                  <button id="registrar" class="btn btn-primary d-block btn-user w-100" name="registrar" type="submit">Registrar</button>
                </form>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-start order-1 order-lg-2 justify-content-center">
                <img src="/img/trabajador1.jpg" width="380px">
              </div>

            </div>

            <style>
              @media only screen and (max-width: 900px) {
                img {
                  display: none;
                }

                div {
                  display: block;
                }
              }
            </style>
          </div>
          <hr>
          <div class="text-center"><a class="small" href="/">Volver</a></div>
        </div>
      </div>
    </div>
  </div>
  <br>

    <!-- Modal de confirmación de envio-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
              <h5 class="modal-title  text-center" id="modalConfirmacionLabel">Confirmacion de registro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p>¿Desea registrar esta trabajador?</p>
                </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id="btnConfirmar" onclick="confirmarUtilizacion()">Confirmar</button>
             </div>
          </div>
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
  
<script>

const btnEnviar = document.getElementById("registrar");

function camposVacios() {
  const nombreInput = document.getElementById('nombre');
  const emailInput = document.getElementById('email');
  const zonaInput = document.getElementById('zona');
  const servicioInput = document.getElementById('servicio');
  const horaInicioInput = document.getElementById('hora-inicio');
  const horaFinInput = document.getElementById('hora-fin');

  const nombre = nombreInput.value;
  const email = emailInput.value;
  const zona = zonaInput.value;
  const servicio = servicioInput.value;
  const horaInicio = horaInicioInput.value;
  const horaFin = horaFinInput.value;

  const horario = horaInicio + ',' + horaFin;
  console.log(horario)

   // Obtener los checkboxes de los días
   const diasInputs = document.querySelectorAll('input[name="dia"]:checked');
   const dias = Array.from(diasInputs).map((input) => input.value).join(',');
   console.log(dias)

  if (!nombre || !email.trim() || !servicio || !zona || !horaInicio || !horaFin || dias.length === 0) {
    const mensajeElemento = document.getElementById('mensaje');
    mensajeElemento.textContent = 'Por favor complete todos los campos solicitados y seleccione al menos un día.';
    return true;
  }
  return false;
}

function confirmarUtilizacion() {
  // Cerrar el modal
  $('#modalConfirmacion').modal('hide');

  // Enviar el formulario
  document.getElementById('myForm').submit();
}

function confirmarRegistro() {
  $('#modalConfirmacion').modal('show');
}

btnEnviar.onclick = function(event) {
  event.preventDefault();
  if (camposVacios()) {
    return false;
  } else {
    confirmarRegistro();
  }
};
</script>

<%- include ('sweet-alert') %>
</body>

</html>