<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documenta</title>
    <%- include ('header') %>
    Datos del paseador: ID: <%= id %>
    nombre: <%= nombre %>
</head>
<body>
<body id="body">
        <div style="margin:10px;">
                    
                    <input type="text" name="user" placeholder="Nombre y apellido" required>
                    <br>
                    <input type="text" placeholder="Tipo de servicio" name="pass" required>
                    <br>
                    <input type="text" placeholder="Horario" name="pass" required>
                    <br>
                    <input type="text" placeholder="Fecha" name="pass" required>
                    <br>
                    <input type="text" placeholder="Telefono de contacto" name="pass" required>
                    <br>
                    <input type="text" placeholder="Mail" name="pass" required>
                    <br>
                    <button type="submit" title="Ingresar" name="Contactar">Contactar</button>
                </form>
            </body>
        </div>
</body>
</html>