<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<%- include ('header', {tituloweb: '¡Oh my dog! | Cruzas ' }); %>

    <body id="body">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"">
                <div class=" modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">¿Por qué no mejor adoptar?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Adoptar es la elección responsable y amorosa, y es una alternativa superior a realizar una cruza.
                        Al
                        adoptar, no solo salvas vidas y combates la sobrepoblación, sino que también evitas la
                        reproducción
                        irresponsable. Adoptar te permite conocer a tu compañero de vida y brindarles una segunda
                        oportunidad, mientras apoyas a la comunidad de rescate. ¡Elegí adoptar y marca la diferencia!
                    </p>
                    <a class="m-1" href="/adopciones" target="_blank">Adopta ahora mismo</a>
                </div>
            </div>
        </div>
        </div>
        <div class="container h-50 mt-4">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-12 col-xl-8">
                    <div class="card text-black mb-3" style="border-radius: 25px;">
                        <div class="card-body p-md-4">
                            <div class="row justify-content-center">
                                <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-3">Cruzas caninas <i
                                        class="bi bi-chat-heart"></i></i></p>
                                <div class="col-md-6">
                                    <% if (mascotas.length> 0) { %>
                                        <div class="row mb-3 h-100">
                                            <div class="mb-3">
                                                <select id="mascota" class="form-select form-select-lg text-center">
                                                    <option value="" disabled selected>Mascota</option>
                                                    <% mascotas.forEach(mascota=> {%>
                                                        <option value="<%= mascota.id %>" <% if
                                                            (mascota.tienePublicacion) { %>data-publicacion="true"<% }
                                                                %> >
                                                                <%= mascota.nombre %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <button type="button" id="verPerfil"
                                                    class="btn btn-outline-danger btn-lg p-1 w-100"
                                                    onclick="verPublicacion()"><i class="bi bi-chat-square-heart"></i>
                                                    Mi publicación</button>
                                            </div>
                                            <div class="mb-3">
                                                <button type="button" id="publicar"
                                                    class="btn btn-outline-danger btn-lg p-1 w-100"
                                                    onclick="publicarMascota()"><i class="bi bi-envelope-heart"></i>
                                                    Realizar
                                                    publicación</button>
                                            </div>
                                            <div class="mb-3">
                                                <button type="button" id="verRecomendaciones"
                                                    class="btn btn-outline-danger btn-lg p-1 w-100"
                                                    onclick="verRecomendaciones()"><i class="bi bi-search-heart"></i>
                                                    Ver
                                                    recomendaciones</button>
                                            </div>
                                        </div>
                                        <% } else { %>
                                            <div class="row mb-3 h-100 align-items-center">
                                                <div class="alert alert-danger mb-3 text-center" role="alert">
                                                    <p class="text-danger m-0">No tiene mascotas registradas. </p>
                                                </div>
                                            </div>
                                            <% } %>
                                </div>
                                <div
                                    class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2 justify-content-center">
                                    <img src="/img/cruza.png" alt="Foto perrito" class="img-fluid" width="300px">
                                </div>
                                <style>
                                    @media only screen and (max-width: 1000px) {
                                        img {
                                            display: none;
                                        }

                                        div {
                                            display: block;
                                        }
                                    }
                                </style>
                            </div>
                            <hr>
                            <div class="text-center"><a class="small" href="/">Volver</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script>

            const myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})
            myModal.toggle()

            function mascotaTienePublicacion(mascota) {
                const tienePublicacion = document.querySelector('option[value="' + mascota + '"]').getAttribute('data-publicacion');
                return tienePublicacion;
            }

            function verPublicacion() {
                const mascota = document.getElementById("mascota").value;
                if (mascota != "") {
                    const tienePublicacion = mascotaTienePublicacion(mascota)
                    if (tienePublicacion === "true") {
                        window.location.href = "/cruzas/verPublicacionDeMascota/" + mascota;
                    }
                    else {
                        Swal.fire({
                            title: "¡Oh no!",
                            text: "La mascota no tiene una publicación",
                            icon: "warning",
                            timer: 2000,
                            showConfirmButton: false,
                        });
                    }
                }
                else {
                    Swal.fire({
                        title: "¡Oh no!",
                        text: "Debe seleccionar una mascota",
                        icon: "warning",
                        timer: 2000,
                        showConfirmButton: false,
                    });
                }
            }

            function publicarMascota() {
                const mascota = document.getElementById("mascota").value;
                if (mascota != "") {
                    const tienePublicacion = mascotaTienePublicacion(mascota)
                    if (tienePublicacion === "true") {
                        Swal.fire({
                            title: "¡Oh no!",
                            text: "La mascota ya tiene una publicación",
                            icon: "warning",
                            timer: 2000,
                            showConfirmButton: false,
                        });
                    } else {
                        window.location.href = "/cruzas/publicarMascota/" + mascota;
                    }
                } else {
                    Swal.fire({
                        title: "¡Oh no!",
                        text: "Debe seleccionar una mascota",
                        icon: "warning",
                        timer: 2000,
                        showConfirmButton: false,
                    });
                }
            }
            function verRecomendaciones() {
                const mascota = document.getElementById("mascota").value;
                if (mascota != "") {
                    const tienePublicacion = mascotaTienePublicacion(mascota)
                    if (tienePublicacion === "true") {
                        window.location.href = "/cruzas/verRecomendaciones/" + mascota;
                    }
                    else {
                        Swal.fire({
                            title: "¡Oh no!",
                            text: "Para ver las recomendaciones se debe realizar al menos una publicación",
                            icon: "warning",
                            timer: 2000,
                            showConfirmButton: false,
                        });
                    }
                } else {
                    Swal.fire({
                        title: "¡Oh no!",
                        text: "Debe seleccionar una mascota",
                        icon: "warning",
                        timer: 2000,
                        showConfirmButton: false,
                    });
                }
            }
        </script>

    </body>
    <%- include ('sweet-alert') %>

        </html>