<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%- include ('header', {tituloweb: '¡Oh my dog! | Cupones'}); %>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

<!DOCTYPE html>
<html>
<head>
    <title>Tu página</title>
    <style>
        body {
            background: #dedede;
        }
        .coupon .kanan {
            border-left: 1px dashed #ddd;
            width: 40% !important;
            position: relative;
        }

        .coupon .kanan .info::after,
        .coupon .kanan .info::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: #4998b0;
            border-radius: 100%;
        }
        .coupon .kanan .info::before {
            top: -10px;
            left: -10px;
        }

        .coupon .kanan .info::after {
            bottom: -10px;
            left: -10px;
        }
        .coupon .time {
            font-size: 1.6rem;
        }
    </style>
</head>
<body id="body">
    
    <div class="card" style="width: 100%; margin-top: 10px;">
        <h2 class="text-center">Cupones de descuento</h1>
        </div>
        <div class="container my-5">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Los siguientes cupones solo pueden ser utilizados por:  <strong><%= usuario.name %></strong> DNI: <strong><%= usuario.DNI %></strong>, verifique que la información sea correcta. 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                        <div class="kiri p-3">
                            <div class="icon-container ">
                                <div class="icon-container_box">
                                    <i class="bi bi-piggy-bank" style="font-size: 55px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tengah py-3 d-flex w-100 justify-content-start">
                            <div>
                                <h3 class="lead">Cupón de descuento </h3>
                                <p class="text-muted mb-0">Acercate a la veterinaria para usarlo</p>
                            </div>
                        </div>
                        <div class="kanan">
                            <div class="info m-3 d-flex align-items-center">
                                <div class="w-100">
                                    <div class="block">
                                        <span class="time font-weight-light">
                                            <span>$3000</span>
                                        </span>
                                    </div>
                                    <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-sm btn-outline-danger btn-block">
                                        Usar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
                        <div class="kiri p-3">
                            <div class="icon-container ">
                                <div class="icon-container_box">
                                    <i class="bi bi-piggy-bank" style="font-size: 55px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tengah py-3 d-flex w-100 justify-content-start">
                            <div>
                                <h3 class="lead">Cupón de descuento  </h3>
                                <p class="text-muted mb-0">Acercate a la veterinaria para usarlo</p>
                            </div>
                        </div>
                        <div class="kanan">
                            <div class="info m-3 d-flex align-items-center">
                                <div class="w-100">
                                    <div class="block">
                                        <span class="time font-weight-light">
                                            <span>$6000</span>
                                        </span>
                                    </div>
                                    <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-sm btn-outline-danger btn-block">
                                        Usar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"><a class="small" href="/" style="color: white;">Volver</a></div>
</body>
</html>