<head>
    <!--Head --> 
    <link rel="stylesheet" href="/css/style.css">
</head>


<!--Footer --> 
<footer class="fondo-color text-white py-4">
  <div id= "footer-container" class="contenedor social-media">
      <nav class="row">
          <!--logo-->
          <div style="display: flex; justify-content: center;">
          <a href="#">
          <img src="/img/vector_logo.png" alt="Logo" width="100px">
          </a>
          </div>
          
          <!--menu-->
          <ul class="text-center justify-content-center">
              <li class="font-weight-bold text-uppercase"><b>Veterinaria Oh my dog!</b></li>
              <P>Desde hace 10 años, nos posicionamos en la ciudad de La plata, para garantizar la salud y el
                 cuidado de las mascotas.
                 Al correr de los años, fuimos agregando servicios para ayudar a la comunidad, y ahora con nuestra aplicacion
                 queremos acercarte estos servicios.</P>
      </nav>
      <div class="social-media">
          <p class="text-center mb-0">Redes Sociales</p>
          <ul class="list-inline text-center justify-content-center">
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
                Facebook
              </a>
            </li>
          </ul>
        </div>

  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</footer>

<script src="https://kit.fontawesome.com/c45f7723ef.js" crossorigin="anonymous"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

