<%- include ('header', {tituloweb: '¡Oh my dog!'}); %>

<body id="body">
<card>

<div class="card" style="width: 30rem;margin: 5px;">
    <div class="card-body">
    <h5 class="card-title"> <h1>Inicio</h1></h5>
    <p class="card-text">

        <% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
            Bienvenido usuario: <%= session.usuario.mail %>
        <% } else { %>
            Bienvenido visitante
        <% } %>


<% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
    <div>
    <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn btn-link">Cerrar sesión</button>
    </form>
    </div>
<% } else { %>

    <div>
        <a href="/login">login</a>
    </div>

<% } %>

<div>
    ________________ 
</div>

<div>
    <a href="/adopciones">Adopcion de perros</a>
</div>

<% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
<div>
    _______usuarios only_________ 
</div>

<div>
    Modificar mi perfil
</div>

<div>
    <a href="/turnos">Solicitar un turno</a>
</div>
<div>
    <a href="/turnos/misTurnos">Listar mis turnos</a>
</div>
<% } %>


<% if (typeof session.usuario !== 'undefined' && (session.loggedin === true) &&(session.usuario.rol === 'admin')) { %>
<div>
    ________admin only__________ 
</div>

<div>
    <a href="/table">Lista de clientes</a>
</div>

<div>
    <a href="/register">Registrar a un cliente</a>
</div>

<div>
    <a href="/turnos/listarTodosLosTurnos">Listar turnos de todos los clientes</a>
</div>
<% } %>

</p>
 </div>
</div>
    <%- include ('footer') %>
</body>