<%- include ('header') %>
<body id="body">
<card>

<div class="card" style="width: 18rem;margin: 5px;">
    <div class="card-body">
    <h5 class="card-title"> <h1>Inicio</h1></h5>
    <p class="card-text">

<div>
    <a href="/login">login</a>
</div>

<div>
    <a href="/register">registrarse</a>
</div>

<div>
    <a href="/table">tabla de usuarios</a>
</div>

<div>
    <a href="/trabajadores">trabajadores</a>
</div>


</p>
    </div>
</body>