<%- include ('header', {tituloweb: '¡Oh my dog!'}); %>
<head>
    <meta name="description" content="Descripción de la página">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  </head>

<body id="body">
    <section class="section-1 mb-5">

    </section>
 <!-- SERVICIOS-->

 <section class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-warning text-uppercase h6">servicios para todos</h2>
            <h3 class="text-capitalize">Servicios de Oh my Dog!</h3>
            <p class="text-muted">
                Descrubi nuestros servicios, al alcance de tu hogar.
            </p>
        </div>

        <!-- Cuidadores-->
<!-- 
        <div class="container text-center">
            <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="../img/icons/paseador.png" class="card-img-top" alt="icon-paseador">
                        <div class="card-body">
                            <h5 class="card-title">Paseadores y Cuidadores</h5>
                            <p class="card-text">En Oh My Dog! trabajamos con cuidadores, paseadores y refugios de confianza para asegurar el bienestar de las mascotas y sus dueños.
                                <br>Encuentra una lista completa de nuestros colaboradores y elige el que mejor se adapte a tus necesidades.

                            <br>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>
                </div> -->

                 <!-- Adopcion-->
                    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3 d-flex justify-content-center align-items-center">
                        <div class="card" style="width: 50rem;">
                            <img src="../img/icons/adopcion2.png" class="card-img-top" alt="icon-adopcion">
                            <div class="card-body">
                                <h5 class="card-title">Adopcion a ciegas</h5>
                                <p class="card-text">La adopción a ciegas es un servicio, donde su objetivo es crear conciencia acerca de la importancia de adoptar mascotas,
                                    sin dejarnos llevar por la apariencia de los animales.
                                   <br> ¡Adoptar es dar una segunda oportunidad y cambiar una vida para siempre!"
                                </p>
                                <a href="/adopciones" class="btn btn-primary">Ver Más</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Perdida-->
                <!-- <div class="col-12 col-md-6 col-lg-4 text-center">
                    <div class="card">
                        <img src="../img/icons/perdida2.png" class="card-img-top" alt="icon-perdida">
                        <div class="card-body">
                            <h5 class="card-title">Perdida y busqueda de mascotas</h5>
                            <p class="card-text"> A través de esta lista, puedes ver las mascotas que hemos publicado, junto con la zona y la fecha en que fueron encontradas.
                                Ademas de las caracteristicas de la mascota.
                                <br> ¡Esperamos que puedas reconocer a alguno y ayudarnos a reunirlo con su familia!

                            </p>
                            <a href="#" class="btn btn-primary">Ver Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 -->

        <br><br>
    </div>

</section>




<!-- IMAGEN DEL MEDIO-->

    <div class="elemento-con-fondo"
        style="background-image: url(../img/perritos/varios.jpg); background-position: center; background-size: cover; height: 300px;">
    </div>


</section>
<br><br>

<!-- SECCION CAMPAÑAS-->

<!-- 
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../img/perritos/perro1.jpg" class="card-img-topc" alt="perro1">
                <div class="card-body">
                    <h5 class="card-title">Ayudemos a Oliva</h5>
                    <p class="card-text">Oliva es una perra, que conocimos en la veterinaria por ser del la calle
                        y despues a travez del servicio que ofrecemos de adopcion a ciegas, pudo encontrar un hogar,
                        esta pasando por una enfermedad muy rara, la cual necesita un medicamento de 40U$D.
                    </p>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../img/perritos/perro2.jpg" class="card-img-topc" alt="perro2">
                <div class="card-body">
                    <h5 class="card-title">Colaboremos con Pedro</h5>
                    <p class="card-text">Pedro es un perro que sufre de un tumor en la pata izquierda,
                        para el cuel necesita una cirugia, que excede el presupuesto de los dueños,
                        Por eso pedimos colaboracion!
                    </p>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../img/perritos/perro3.jpg" class="card-img-topc" alt="perro3">
                <div class="card-body">
                    <h5 class="card-title">Ayudemos a Cati</h5>
                    <p class="card-text">Cati es una perrita de 5 meses, la cual fue adoptada a travez de nuestro servicio de adopcion a ciegas,
                         tuvo un accidente con un auto
                        y lamentablemente tuvo que ser internada de urgencia.
                        <br> Lo cual requirio de medicamentos y se tiene que
                        realizar una operacion muy costosa!
                    </p>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
</div> -->


<br><br>
<!-- Inicio sun -->

<body id="body">
<card>

<div class="card" style="width: 30rem;margin: 5px;">
    <div class="card-body">
    <h5 class="card-title"> <h1>Inicio</h1></h5>
    <p class="card-text">

        <% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
            Bienvenido usuario: <%= session.usuario.mail %>
        <% } else { %>
            Bienvenido visitante
        <% } %>


<% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
    <div>
    <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn btn-link">Cerrar sesión</button>
    </form>
    </div>
<% } else { %>

    <div>
        <a href="/login">login</a>
    </div>

<% } %>

 <div>
    ________________
</div>

<div>
    <a href="/adopciones">Adopcion de perros</a>
</div>

 <% if (typeof session.usuario !== 'undefined' && (session.loggedin === true)) { %>
<div>
    _______usuarios only_________
</div>

<div>
    <a href="/perfil">Modificar mi perfil</a>
</div>

<div>
    <a href="/turnos">Solicitar un turno</a>
</div>
<div>
    <a href="/turnos/misTurnos">Listar mis turnos</a>
</div>
<% } %> 


<% if (typeof session.usuario !== 'undefined' && (session.loggedin === true) &&(session.usuario.rol === 'admin')) { %>
<div>
    ________admin only__________
</div>

<div>
    <a href="/table">Lista de clientes</a>
</div>

<div>
    <a href="/register">Registrar a un cliente</a>
</div>

<div>
    <a href="/turnos/listarTodosLosTurnos">Listar turnos de todos los clientes</a>
</div>
<% } %>

</p>
 </div>
</div>
    <%- include ('footer') %>
</body>