<!DOCTYPE html>
<html lang="es">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('header', {tituloweb: '¡Oh my dog! | Modificar cliente'}); %>
</head>

<body id="body">
  
    <div class="container h-100" style="margin-top: 20px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-10">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-4">
              <div class="row justify-content-center">
                
<form method="POST">
  <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-3"><i class="bi bi-person-lock"></i> Modificar su contraseña</p>


  <div class="mb-3">
    <div class="mb-3">
      <label for="pass">Contraseña actual*:</label>
      <input class="form-control form-control-user" name="pass" value="" type="password" id="password" placeholder="" required="">
    </div>
    <div class="mb-3">
      <label for="pass">Contraseña nueva*:</label>
      <input class="form-control form-control-user" name="pass2" value="" type="password" id="password2" placeholder="" required="">
    </div>
    <div class="mb-3">
      <label for="pass">Confirmacion de contraseña nueva*:</label>
      <input class="form-control form-control-user" name="pass3" value="" type="password" id="password3" placeholder="" required="">
    </div>
  </div>


  </div>
  <div class="row mb-1">
    <div class="error-container" style="height: 30px; margin-bottom: 10px;">
      <p id="passwordErrorMsg" class="text-danger" style="display: none;"></p>
      <p id="coincidirMsg" class="text-danger" style="display: none;"></p>
    </div>
  </div>
  <button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit">Actualizar</button>
  <hr>
</form>

<div class="text-center mb-2" style="font-size: smaller;">Los campos con (*) son obligatorios</div>
<div class="text-center"><a class="small" href="/modificar_mi_perfil">Volver</a></div>
</div>
</div>
    </div>
</div>
</div>
</div>
<%- include ('sweet-alert') %>

<div id="usuario" usuario="<%- JSON.stringify(usuario) %>"></div>

<!-- SCRIPT -->
<script>
  const password = document.getElementById("password2");
  const confirmarPassword = document.getElementById("password3");
  const submitBtn = document.getElementById("submitBtn");
  const passwordErrorMsg = document.getElementById("passwordErrorMsg");

  function displayErrorMsg(msg) {
    passwordErrorMsg.style.display = "block";
    passwordErrorMsg.textContent = msg;
    submitBtn.disabled = true;
  }

  function hideErrorMsg() {
    passwordErrorMsg.style.display = "none";
    passwordErrorMsg.textContent = "";
    submitBtn.disabled = false;
  }

  function validatePassword() {
    const passwordValue = password.value;
    const confirmarPasswordValue = confirmarPassword.value;

    if (passwordValue.length < 8) {
      displayErrorMsg("La contraseña debe tener 8 caracteres o más");
    } else if (passwordValue !== confirmarPasswordValue) {
      displayErrorMsg("Las contraseñas deben coincidir");
    } else {
      hideErrorMsg();
    }
  }

  password.addEventListener("input", validatePassword);
  confirmarPassword.addEventListener("input", validatePassword);
</script>













</body>
</html>