<!DOCTYPE html>
<html lang="en">
<head>  
<%- include ('header') %>
</head>
<body id="body">
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Registro
                </div>
                <form action="/register" method="POST">
                    <input type="text" name="user" placeholder="Usuario" required>

                    <input type="text" name="name" placeholder="nombre completo" required>

                    <input type="text" name="rol" placeholder="rol" required>
                    
                    <input type="password" placeholder="Contraseña" name="pass" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar">Crear cuenta</button>
                </form>
            </div>
            <div class="inferior">
                <a href="/">Volver</a>
            </div>
        </div>
    </div>

    <%- include ('sweet-alert') %>

</body>
</html>

