body{
    background:#a5b5c5;
    background:lightblue !important;
 }
 
 .box {
    background: #fff;
    border-radius: 5px;
    padding-bottom: auto;
    text-align: center;
    display: inline-block;
    width: auto;
    height: auto;
    word-break: break-word
 }
 
 .col-lg-2, .col-md-3, .col-xs-6{
     margin-top: 30px !important;
 }